body {
  background-color: #4978FF /*#113AB2 #4978FF #2F65FF #FFC52F #B28100*/;
}

header {
  height: 300px;
}


footer {
  background-color: #113AB2;
  color: white;
  float: left;
  width: 100%;
  clear: both;
}

footer ul {
  float: left;
  padding-left: 0.3em;
  list-style-type: none;
}

nav ul {
  background-color: #113AB2;
  float: left;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1em 1em;
}

nav li a:hover {
  background-color: #FFC52F;
}

.imgLogo {
  height: 250px;
  width: 100%;
}

.imgSocialNetwork {
  float: right;
  padding-top: 0.5em;
  padding-right: 0.5em;
  width: 50px;
}
